<a href="https://colab.research.google.com/github/LaisST/FIAP_202501_HandsOn_data_analytics/blob/main/BigData_Aula1_DataManipulation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fase 3 - Aula 1
# Framework de Big Data

## üöÄ O que √© o Spark?

Apache Spark √© uma plataforma de processamento de dados open source criada para ser r√°pida, f√°cil de usar e capaz de realizar an√°lises avan√ßadas.
üß† Principais caracter√≠sticas:

    Desenvolvido em 2009 na Universidade de Berkeley.

    Mantido pela Apache Software Foundation, sem v√≠nculo com fornecedores.

    Processa grandes volumes de dados em clusters com milhares de n√≥s.

    Utilizado por empresas como Netflix, Yahoo e eBay para lidar com petabytes de dados.

‚öôÔ∏è Por que ele √© especial?

    Resolve problemas de performance e processamento paralelo.

    Executa tarefas em mem√≥ria, o que acelera o processamento.

    Suporta m√∫ltiplos tipos de aplica√ß√µes:

        Big Data

        Machine Learning

        Streaming de dados

        Consultas SQL

## Configura√ß√£o de Ambiente

In [ ]:
import os

In [ ]:
! pip install -q findspark

In [ ]:
import findspark

Apache Spark 3.5.7
https://dlcdn.apache.org/spark/spark-3.5.7/spark-3.5.7-bin-hadoop3.tgz

In [ ]:
# Instalar o Java
! apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
# Baixar, descompactar e configurar o Apache Spark

! wget -q https://dlcdn.apache.org/spark/spark-3.5.7/spark-3.5.7-bin-hadoop3.tgz

In [ ]:
! tar xf spark-3.5.7-bin-hadoop3.tgz

In [ ]:
! rm -rf spark-3.5.7-bin-hadoop3.tgz

In [ ]:
# COnfigurar as variaveis de ambiente
os.environ['JAVA_HOME'] = '/usr/lib/jvm/java-8-openjdk-amd64'
os.environ['SPARK_HOME'] = '/content/spark-3.5.7-bin-hadoop3'

In [ ]:
# Inicializar o Spark e Criar uma sess√£o

findspark.init()

from pyspark.sql import SparkSession
spark = SparkSession.builder.master('local[*]').appName('Exercicio01').getOrCreate()

In [ ]:
# Teste
df = spark.sql('''select 'spark' as hello''')
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

## Importa√ß√£o das Bibliotecas

In [ ]:
# Importar bibliotecas spark
from pyspark.sql import Row, DataFrame
from pyspark.sql.types import StringType, StringType, StructField, IntegralType
from pyspark.sql.functions import col, expr, lit, substring, concat, concat_ws, when, coalesce
from pyspark.sql import functions as F
from functools import reduce

## Manipula√ß√£o de Dados Usando Spark

In [ ]:
# Importar a base de dados
df = spark.read.csv('banklist.csv', sep = ',', inferSchema=True, header=True)

In [ ]:
# Sobre a bsae
print('Quantidade de linhas (df.count): ', df.count())
print('Quantidade de colunas (df.col ct): ', len(df.columns))
print('Valores das colunas (df.columns): ', df.columns)

Quantidade de linhas (df.count):  561
Quantidade de colunas (df.col ct):  6
Valores das colunas (df.columns):  ['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date']

## Usando SQL em PySpark

In [ ]:
df.createGlobalTempView('banklist')

df_check = spark.sql("SELECT `Bank Name`, City, `Closing Date` FROM global_temp.banklist")
df_check.show()

+--------------------+------------------+------------+
|           Bank Name|              City|Closing Date|
+--------------------+------------------+------------+
|The First State Bank|     Barboursville|    3-Apr-20|
|  Ericson State Bank|           Ericson|   14-Feb-20|
|City National Ban...|            Newark|    1-Nov-19|
|       Resolute Bank|            Maumee|   25-Oct-19|
|Louisa Community ...|            Louisa|   25-Oct-19|
|The Enloe State Bank|            Cooper|   31-May-19|
|Washington Federa...|           Chicago|   15-Dec-17|
|The Farmers and M...|           Argonia|   13-Oct-17|
| Fayette County Bank|        Saint Elmo|   26-May-17|
|Guaranty Bank, (d...|         Milwaukee|    5-May-17|
|      First NBC Bank|       New Orleans|   28-Apr-17|
|       Proficio Bank|Cottonwood Heights|    3-Mar-17|
|Seaway Bank and T...|           Chicago|   27-Jan-17|
|Harvest Community...|        Pennsville|   13-Jan-17|
|         Allied Bank|          Mulberry|   23-Sep-16|
|The Woodbury Bank...|          Woodbury|   19-Aug-16|
|First CornerStone...|   King of Prussia|    6-May-16|
|  Trust Company Bank|           Memphis|   29-Apr-16|
|North Milwaukee S...|         Milwaukee|   11-Mar-16|
|Hometown National...|          Longview|    2-Oct-15|
+--------------------+------------------+------------+
only showing top 20 rows

## DataFrame OPera√ß√µes B√°sicas

In [ ]:
df.describe().show()

+-------+--------------------+-------+----+-----------------+---------------------+------------+
|summary|           Bank Name|   City|  ST|             CERT|Acquiring Institution|Closing Date|
+-------+--------------------+-------+----+-----------------+---------------------+------------+
|  count|                 561|    561| 561|              561|                  561|         561|
|   mean|                NULL|   NULL|NULL|31685.68449197861|                 NULL|        NULL|
| stddev|                NULL|   NULL|NULL|16446.65659309965|                 NULL|        NULL|
|    min|1st American Stat...|Acworth|  AL|               91|      1st United Bank|    1-Aug-08|
|    max|               ebank|Wyoming|  WY|            58701|  Your Community Bank|    9-Sep-11|
+-------+--------------------+-------+----+-----------------+---------------------+------------+

In [ ]:
df.describe('City', 'ST').show()

+-------+-------+----+
|summary|   City|  ST|
+-------+-------+----+
|  count|    561| 561|
|   mean|   NULL|NULL|
| stddev|   NULL|NULL|
|    min|Acworth|  AL|
|    max|Wyoming|  WY|
+-------+-------+----+

## Count, Columns e Schema

In [ ]:
print('Total Linhas: ', df.count())
print('Total Colunas: ', len(df.columns))
print('Colunas: ', df.columns)
print('Tipo de dado: ', df.dtypes)
print('Schema', df.schema)

Total Linhas:  561
Total Colunas:  6
Colunas:  ['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date']
Tipo de dado:  [('Bank Name', 'string'), ('City', 'string'), ('ST', 'string'), ('CERT', 'int'), ('Acquiring Institution', 'string'), ('Closing Date', 'string')]
Schema StructType([StructField('Bank Name', StringType(), True), StructField('City', StringType(), True), StructField('ST', StringType(), True), StructField('CERT', IntegerType(), True), StructField('Acquiring Institution', StringType(), True), StructField('Closing Date', StringType(), True)])

In [ ]:
df.printSchema()

root
 |-- Bank Name: string (nullable = true)
 |-- City: string (nullable = true)
 |-- ST: string (nullable = true)
 |-- CERT: integer (nullable = true)
 |-- Acquiring Institution: string (nullable = true)
 |-- Closing Date: string (nullable = true)

## Remover Duplicadas

In [ ]:
df = df.dropDuplicates()
print('Total Linhas: ', df.count())
print('Colunas ', df.columns)

Total Linhas:  561
Colunas  ['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date']

## Selecionar Colunas Especificas

In [ ]:
df2 = df.select(*['Bank Name', 'City'])
df2.show(2)

+--------------------+--------+
|           Bank Name|    City|
+--------------------+--------+
| First Bank of Idaho| Ketchum|
|Amcore Bank, Nati...|Rockford|
+--------------------+--------+
only showing top 2 rows

## Selecionar multiplas colunas

In [ ]:
col_l = list(set(df.columns) - {'CERT', 'ST'})
df2 = df.select(*col_l)
df2.show(2)

+---------------------+--------------------+------------+--------+
|Acquiring Institution|           Bank Name|Closing Date|    City|
+---------------------+--------------------+------------+--------+
|      U.S. Bank, N.A.| First Bank of Idaho|   24-Apr-09| Ketchum|
|          Harris N.A.|Amcore Bank, Nati...|   23-Apr-10|Rockford|
+---------------------+--------------------+------------+--------+
only showing top 2 rows

## Renomear Colunas

In [ ]:
df2 = df \
  .withColumnRenamed('Bank Name', 'bank_name') \
  .withColumnRenamed('Acquiring Institution', 'acq_institution') \
  .withColumnRenamed('Closing Date', 'closing_date') \
  .withColumnRenamed('ST', 'state') \
  .withColumnRenamed('CERT', 'cert') #\
df2.show(2)

+--------------------+--------+-----+-----+---------------+------------+
|           bank_name|    City|state| cert|acq_institution|closing_date|
+--------------------+--------+-----+-----+---------------+------------+
| First Bank of Idaho| Ketchum|   ID|34396|U.S. Bank, N.A.|   24-Apr-09|
|Amcore Bank, Nati...|Rockford|   IL| 3735|    Harris N.A.|   23-Apr-10|
+--------------------+--------+-----+-----+---------------+------------+
only showing top 2 rows

## Adicionar Colunas

In [ ]:
df2 = df.withColumn('State', col('ST'))
df2.show(2)

+--------------------+--------+---+-----+---------------------+------------+-----+
|           Bank Name|    City| ST| CERT|Acquiring Institution|Closing Date|State|
+--------------------+--------+---+-----+---------------------+------------+-----+
| First Bank of Idaho| Ketchum| ID|34396|      U.S. Bank, N.A.|   24-Apr-09|   ID|
|Amcore Bank, Nati...|Rockford| IL| 3735|          Harris N.A.|   23-Apr-10|   IL|
+--------------------+--------+---+-----+---------------------+------------+-----+
only showing top 2 rows

## Adicionar Coluna COnstante
Valor fixo(o mesmo para todos)

In [ ]:
df2 = df.withColumn('country', lit('US'))
df2.show(2)

+--------------------+--------+---+-----+---------------------+------------+-------+
|           Bank Name|    City| ST| CERT|Acquiring Institution|Closing Date|country|
+--------------------+--------+---+-----+---------------------+------------+-------+
| First Bank of Idaho| Ketchum| ID|34396|      U.S. Bank, N.A.|   24-Apr-09|     US|
|Amcore Bank, Nati...|Rockford| IL| 3735|          Harris N.A.|   23-Apr-10|     US|
+--------------------+--------+---+-----+---------------------+------------+-------+
only showing top 2 rows

## Remover Colunas

In [ ]:
df2 = df.drop('CERT')
df2.show(2)

+--------------------+--------+---+---------------------+------------+
|           Bank Name|    City| ST|Acquiring Institution|Closing Date|
+--------------------+--------+---+---------------------+------------+
| First Bank of Idaho| Ketchum| ID|      U.S. Bank, N.A.|   24-Apr-09|
|Amcore Bank, Nati...|Rockford| IL|          Harris N.A.|   23-Apr-10|
+--------------------+--------+---+---------------------+------------+
only showing top 2 rows

## Remover Multiplas Colunas

In [ ]:
df2 = df.drop(*['CERT', 'ST'])
df2.show(2)

+--------------------+--------+---------------------+------------+
|           Bank Name|    City|Acquiring Institution|Closing Date|
+--------------------+--------+---------------------+------------+
| First Bank of Idaho| Ketchum|      U.S. Bank, N.A.|   24-Apr-09|
|Amcore Bank, Nati...|Rockford|          Harris N.A.|   23-Apr-10|
+--------------------+--------+---------------------+------------+
only showing top 2 rows

In [ ]:
df2 = reduce(DataFrame.drop, ['CERT', 'ST'], df)
df2.show(2)

+--------------------+--------+---------------------+------------+
|           Bank Name|    City|Acquiring Institution|Closing Date|
+--------------------+--------+---------------------+------------+
| First Bank of Idaho| Ketchum|      U.S. Bank, N.A.|   24-Apr-09|
|Amcore Bank, Nati...|Rockford|          Harris N.A.|   23-Apr-10|
+--------------------+--------+---------------------+------------+
only showing top 2 rows

## Filtrar os dados

In [ ]:
# Igual a ...
df2 = df.where(df['ST'] == 'NE')

# Entre Valores
df3 = df.where(df['CERT'].between(1000, 2000))

# Est√° dentro de...
df4 = df.where(df['ST'].isin('NE', 'IL'))

print('Quantidade de linhas em df', df.count())
print('Quantidade de linhas em df2', df2.count())
print('Quantidade de linhas em df3', df3.count())
print('Quantidade de linhas em df4', df4.count())

Quantidade de linhas em df 561
Quantidade de linhas em df2 4
Quantidade de linhas em df3 9
Quantidade de linhas em df4 73

## Filtrar usando operadores l√≥gicos

In [ ]:
df2 = df.where((df['ST'] == 'NE') & (df['City'] == 'Ericson'))
df2.show()

+------------------+-------+---+-----+---------------------+------------+
|         Bank Name|   City| ST| CERT|Acquiring Institution|Closing Date|
+------------------+-------+---+-----+---------------------+------------+
|Ericson State Bank|Ericson| NE|18265| Farmers and Merch...|   14-Feb-20|
+------------------+-------+---+-----+---------------------+------------+

## Substitui√ß√£o de valores

In [ ]:
#Pre Substitui√ß√£o
df.show()

# P√≥s Substitui√ß√£o
print('Substituir o 7 por 17')
df.na.replace(7,17).show()

+--------------------+----------------+---+-----+---------------------+------------+
|           Bank Name|            City| ST| CERT|Acquiring Institution|Closing Date|
+--------------------+----------------+---+-----+---------------------+------------+
| First Bank of Idaho|         Ketchum| ID|34396|      U.S. Bank, N.A.|   24-Apr-09|
|Amcore Bank, Nati...|        Rockford| IL| 3735|          Harris N.A.|   23-Apr-10|
|        Venture Bank|           Lacey| WA|22868| First-Citizens Ba...|   11-Sep-09|
|First State Bank ...|           Altus| OK| 9873|         Herring Bank|   31-Jul-09|
|Valley Capital Ba...|            Mesa| AZ|58399| Enterprise Bank &...|   11-Dec-09|
|Michigan Heritage...|Farmington Hills| MI|34369|       Level One Bank|   24-Apr-09|
|Columbia Savings ...|      Cincinnati| OH|32284| United Fidelity B...|   23-May-14|
|       Fidelity Bank|        Dearborn| MI|33883| The Huntington Na...|   30-Mar-12|
|The Park Avenue Bank|        Valdosta| GA|19797|   Bank of the Ozarks|   29-Apr-11|
|Western Commercia...|  Woodland Hills| CA|58087| First California ...|    5-Nov-10|
|        Syringa Bank|           Boise| ID|34296|         Sunwest Bank|   31-Jan-14|
|Republic Federal ...|           Miami| FL|22846|      1st United Bank|   11-Dec-09|
|Westside Communit...|University Place| WA|33997|         Sunwest Bank|   11-Jan-13|
|   First United Bank|           Crete| IL|20685| Old Plank Trail C...|   28-Sep-12|
|HarVest Bank of M...|    Gaithersburg| MD|57766|             Sonabank|   27-Apr-12|
|            BankEast|       Knoxville| TN|19869|      U.S. Bank, N.A.|   27-Jan-12|
|    Polk County Bank|        Johnston| IA|14194|  Grinnell State Bank|   18-Nov-11|
|Colorado Capital ...|     Castle Rock| CO|34522| First-Citizens Ba...|    8-Jul-11|
|         Access Bank|        Champlin| MN|16476|            PrinsBank|    7-May-10|
|Pacific National ...|   San Francisco| CA|30006|       U.S. Bank N.A.|   30-Oct-09|
+--------------------+----------------+---+-----+---------------------+------------+
only showing top 20 rows

Substituir o 7 por 17
+--------------------+----------------+---+-----+---------------------+------------+
|           Bank Name|            City| ST| CERT|Acquiring Institution|Closing Date|
+--------------------+----------------+---+-----+---------------------+------------+
| First Bank of Idaho|         Ketchum| ID|34396|      U.S. Bank, N.A.|   24-Apr-09|
|Amcore Bank, Nati...|        Rockford| IL| 3735|          Harris N.A.|   23-Apr-10|
|        Venture Bank|           Lacey| WA|22868| First-Citizens Ba...|   11-Sep-09|
|First State Bank ...|           Altus| OK| 9873|         Herring Bank|   31-Jul-09|
|Valley Capital Ba...|            Mesa| AZ|58399| Enterprise Bank &...|   11-Dec-09|
|Michigan Heritage...|Farmington Hills| MI|34369|       Level One Bank|   24-Apr-09|
|Columbia Savings ...|      Cincinnati| OH|32284| United Fidelity B...|   23-May-14|
|       Fidelity Bank|        Dearborn| MI|33883| The Huntington Na...|   30-Mar-12|
|The Park Avenue Bank|        Valdosta| GA|19797|   Bank of the Ozarks|   29-Apr-11|
|Western Commercia...|  Woodland Hills| CA|58087| First California ...|    5-Nov-10|
|        Syringa Bank|           Boise| ID|34296|         Sunwest Bank|   31-Jan-14|
|Republic Federal ...|           Miami| FL|22846|      1st United Bank|   11-Dec-09|
|Westside Communit...|University Place| WA|33997|         Sunwest Bank|   11-Jan-13|
|   First United Bank|           Crete| IL|20685| Old Plank Trail C...|   28-Sep-12|
|HarVest Bank of M...|    Gaithersburg| MD|57766|             Sonabank|   27-Apr-12|
|            BankEast|       Knoxville| TN|19869|      U.S. Bank, N.A.|   27-Jan-12|
|    Polk County Bank|        Johnston| IA|14194|  Grinnell State Bank|   18-Nov-11|
|Colorado Capital ...|     Castle Rock| CO|34522| First-Citizens Ba...|    8-Jul-11|
|         Access Bank|        Champlin| MN|16476|            PrinsBank|    7-May-10|
|Pacific National ...|   San Francisco| CA|30006|       U.S. Bank N.A.|   30-Oct-09|
+--------------------+----------------+---+-----+---------------------+------------+
only showing top 20 rows

# Teste Base Covid

In [ ]:
import requests
path = "https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv"
req = requests.get(path)
url_content = req.content

csv_file_name = 'owid-covid-data.csv'
csv_file = open(csv_file_name, 'wb')

csv_file.write(url_content)
csv_file.close()

df = spark.read.csv('/content/'+csv_file_name, header=True, inferSchema=True)

In [ ]:
#Viewing the dataframe schema
df.printSchema()

root
 |-- iso_code: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- location: string (nullable = true)
 |-- date: date (nullable = true)
 |-- total_cases: integer (nullable = true)
 |-- new_cases: integer (nullable = true)
 |-- new_cases_smoothed: double (nullable = true)
 |-- total_deaths: integer (nullable = true)
 |-- new_deaths: integer (nullable = true)
 |-- new_deaths_smoothed: double (nullable = true)
 |-- total_cases_per_million: double (nullable = true)
 |-- new_cases_per_million: double (nullable = true)
 |-- new_cases_smoothed_per_million: double (nullable = true)
 |-- total_deaths_per_million: double (nullable = true)
 |-- new_deaths_per_million: double (nullable = true)
 |-- new_deaths_smoothed_per_million: double (nullable = true)
 |-- reproduction_rate: double (nullable = true)
 |-- icu_patients: integer (nullable = true)
 |-- icu_patients_per_million: double (nullable = true)
 |-- hosp_patients: integer (nullable = true)
 |-- hosp_patients_per_million: double (nullable = true)
 |-- weekly_icu_admissions: integer (nullable = true)
 |-- weekly_icu_admissions_per_million: double (nullable = true)
 |-- weekly_hosp_admissions: integer (nullable = true)
 |-- weekly_hosp_admissions_per_million: double (nullable = true)
 |-- total_tests: long (nullable = true)
 |-- new_tests: integer (nullable = true)
 |-- total_tests_per_thousand: double (nullable = true)
 |-- new_tests_per_thousand: double (nullable = true)
 |-- new_tests_smoothed: double (nullable = true)
 |-- new_tests_smoothed_per_thousand: double (nullable = true)
 |-- positive_rate: double (nullable = true)
 |-- tests_per_case: double (nullable = true)
 |-- tests_units: string (nullable = true)
 |-- total_vaccinations: long (nullable = true)
 |-- people_vaccinated: long (nullable = true)
 |-- people_fully_vaccinated: long (nullable = true)
 |-- total_boosters: long (nullable = true)
 |-- new_vaccinations: integer (nullable = true)
 |-- new_vaccinations_smoothed: double (nullable = true)
 |-- total_vaccinations_per_hundred: double (nullable = true)
 |-- people_vaccinated_per_hundred: double (nullable = true)
 |-- people_fully_vaccinated_per_hundred: double (nullable = true)
 |-- total_boosters_per_hundred: double (nullable = true)
 |-- new_vaccinations_smoothed_per_million: double (nullable = true)
 |-- new_people_vaccinated_smoothed: double (nullable = true)
 |-- new_people_vaccinated_smoothed_per_hundred: double (nullable = true)
 |-- stringency_index: double (nullable = true)
 |-- population_density: double (nullable = true)
 |-- median_age: double (nullable = true)
 |-- aged_65_older: double (nullable = true)
 |-- aged_70_older: double (nullable = true)
 |-- gdp_per_capita: double (nullable = true)
 |-- extreme_poverty: double (nullable = true)
 |-- cardiovasc_death_rate: double (nullable = true)
 |-- diabetes_prevalence: double (nullable = true)
 |-- female_smokers: double (nullable = true)
 |-- male_smokers: double (nullable = true)
 |-- handwashing_facilities: double (nullable = true)
 |-- hospital_beds_per_thousand: double (nullable = true)
 |-- life_expectancy: double (nullable = true)
 |-- human_development_index: double (nullable = true)
 |-- population: long (nullable = true)
 |-- excess_mortality_cumulative_absolute: double (nullable = true)
 |-- excess_mortality_cumulative: double (nullable = true)
 |-- excess_mortality: double (nullable = true)
 |-- excess_mortality_cumulative_per_million: double (nullable = true)

In [ ]:
#Converting a date column
df.select(F.to_date(df.date).alias('date'))

DataFrame[date: date]

In [ ]:
#Summary stats
df.describe().show()

+-------+--------+-------------+-----------+--------------------+------------------+------------------+------------------+------------------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+------------------+------------------+------------------------+------------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+-------------------+------------------+------------------------+----------------------+------------------+-------------------------------+-------------------+------------------+-------------+--------------------+--------------------+-----------------------+--------------------+------------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+------------------+---------------------+-------------------+------------------+------------------+----------------------+--------------------------+-----------------+-----------------------+--------------------+------------------------------------+---------------------------+------------------+---------------------------------------+
|summary|iso_code|    continent|   location|         total_cases|         new_cases|new_cases_smoothed|      total_deaths|        new_deaths|new_deaths_smoothed|total_cases_per_million|new_cases_per_million|new_cases_smoothed_per_million|total_deaths_per_million|new_deaths_per_million|new_deaths_smoothed_per_million| reproduction_rate|      icu_patients|icu_patients_per_million|     hosp_patients|hosp_patients_per_million|weekly_icu_admissions|weekly_icu_admissions_per_million|weekly_hosp_admissions|weekly_hosp_admissions_per_million|        total_tests|         new_tests|total_tests_per_thousand|new_tests_per_thousand|new_tests_smoothed|new_tests_smoothed_per_thousand|      positive_rate|    tests_per_case|  tests_units|  total_vaccinations|   people_vaccinated|people_fully_vaccinated|      total_boosters|  new_vaccinations|new_vaccinations_smoothed|total_vaccinations_per_hundred|people_vaccinated_per_hundred|people_fully_vaccinated_per_hundred|total_boosters_per_hundred|new_vaccinations_smoothed_per_million|new_people_vaccinated_smoothed|new_people_vaccinated_smoothed_per_hundred|  stringency_index|population_density|       median_age|    aged_65_older|    aged_70_older|   gdp_per_capita|   extreme_poverty|cardiovasc_death_rate|diabetes_prevalence|    female_smokers|      male_smokers|handwashing_facilities|hospital_beds_per_thousand|  life_expectancy|human_development_index|          population|excess_mortality_cumulative_absolute|excess_mortality_cumulative|  excess_mortality|excess_mortality_cumulative_per_million|
+-------+--------+-------------+-----------+--------------------+------------------+------------------+------------------+------------------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+------------------+------------------+------------------------+------------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+-------------------+------------------+------------------------+----------------------+------------------+-------------------------------+-------------------+------------------+-------------+--------------------+--------------------+-----------------------+--------------------+------------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+------------------+---------------------+-------------------+------------------+------------------+----------------------+--------------------------+-----------------+-----------------------+--------------------+------------------------------------+---------------------------+------------------+---------------------------------------+
|  count|  429435|       402910|     429435|              411804|            410159|            408929|            411804|            410608|             409378|                 411804|               410159|                        408929|                  411804|                410608|                         409378|            184817|             39116|                   39116|             40656|                    40656|                10993|                            10993|                 24497|                             24497|              79387|             75403|                   79387|                 75403|            103965|                         103965|              95927|             94348|       106788|               85417|               81132|                  78061|               53600|             70971|                   195029|                         85417|                        81132|                              78061|                     53600|                               195029|                        192177|                                    192177|            196190|            360492|           334663|           323270|           331315|           328292|            211996|               328865|             345911|            247165|            243817|                161741|                    290689|           390299|                 319127|              429435|                               13411|                      13411|             13411|                                  13411|
|   mean|    NULL|         NULL|       NULL|   7365292.354484173| 8017.359933586731| 8041.025764105862| 81259.57427805461|  71.8521387795659|  72.06082842751668|      112096.1994198345|    122.3570729156252|            122.71385223351919|       835.5143373303115|     0.762321118926083|             0.7645298965747763|0.9114953710968031| 660.9714183454341|       15.65633704877805|3911.7415633608816|       125.98798430735995|    317.8941144364596|                9.672003092877342|     4291.723313058742|                 82.61909335837018|2.110457393801252E7| 67285.41211888121|       924.2547520374865|     3.272460644801953| 142178.3636993219|              2.826364064829437|0.09807895587272192|2403.6328072667206|         NULL| 5.616979834254072E8|2.4870641074005324E8|   2.2866391007339132E8|1.5058105890156716E8| 739864.0267433177|         283875.815135185|            124.27955758221208|           53.501408815266124|                  48.68018216522806|         36.30148861940385|                    1851.477595639623|            106070.69886614944|                        0.0746783954375727|42.877560324177246|394.07293207628214|30.45629573630679|8.683893123390828| 5.48649406154467|18904.18297157362|13.924729240173166|   264.63953369921944|  8.556055112444161|10.772437926085267| 33.09775758049117|     50.64939038340143|         3.106894825741913|73.70209836562722|      0.722177816355364|1.5203364039627418E8|                   56047.65355081658|           9.76643128774885|10.925353068376719|                      1772.666404444117|
| stddev|    NULL|         NULL|       NULL|4.4775816766719416E7|229664.86673059216| 86616.11129828084|441190.13823694026|1368.3229897006734|  513.6365647780609|     162240.41240534364|    1508.778585017234|             559.7016625157952|      1134.9326412975213|    6.9825321502298605|             2.5465425967129915|0.3999249955670573|2139.6155316531654|      22.785484573679305|  9845.75048474152|       151.15580968843355|     514.412910014471|                 13.5739364120081|    10919.623681068975|                 88.39674021718216|8.409869431109455E7|247734.00456983913|      2195.4284900423604|     9.033825668420926|1138214.6555840792|              7.308224750925745|0.11609736423216013| 33443.66067673303|         NULL|1.8421601519016929E9| 8.006460511265795E8|    7.403763390430303E8|4.3606965526954716E8|3183064.3833058253|        1922351.903822936|              85.0980417725314|            29.37965525356042|                  29.04228237602243|        30.218207758290283|                   3117.8287311520344|             786688.3872564286|                        0.1763644895284445|24.870492159098117| 1785.451280856032|9.093554097916535|6.093036775012917|4.136259577320776|19829.57783617315| 20.07391201458323|   120.75669846048524|  4.934656332730466|10.761090599624634|13.853951593722675|    31.905236293065695|        2.5491677982799974|7.387914446278974|     0.1492369934254508| 6.975407716680971E8|                    156869.075632921|         12.040658432826891| 24.56070592968765|                     1991.8927704585392|
|    min|     ABW|       Africa|Afghanistan|                   0|                 0|               0.0|                 0|                 0|                0.0|                    0.0|                  0.0|                           0.0|                     0.0|                   0.0|                            0.0|             -0.07|                 0|                     0.0|                 0|                      0.0|                    0|                              0.0|                     0|                               0.0|                  0|                 1|                     0.0|                   0.0|               0.0|                            0.0|                0.0|               1.0|people tested|                   0|                   0|                      1|                   1|                 0|                      0.0|                           0.0|                          0.0|                                0.0|                       0.0|                                  0.0|                           0.0|                                       0.0|               0.0|              0.14|             15.1|             1.14|             0.53|           661.24|               0.1|                79.37|               0.99|               0.1|               7.7|                  1.19|                       0.1|            53.28|                   0.39|                  47|                            -37726.1|                     -44.23|            -95.92|                               -2936.45|
|    max|     ZWE|South America|   Zimbabwe|           775866783|          44236227|         6319461.0|           7057132|            103719|            14817.0|               763598.6|            241758.23|                      34536.89|                 6601.11|                893.66|                         127.66|              5.87|             28891|                  180.68|            154497|                  1526.85|                 4838|                           224.98|                153977|                            717.08|         9214000000|          35855632|                32925.83|                531.06|       1.4769984E7|                          147.6|                1.0|         1023631.9|units unclear|         13578774356|          5631263739|             5177942957|          2817381093|          49673198|              4.3691814E7|                        410.23|                       129.07|                             126.89|                    150.47|                             117113.0|                   2.1071266E7|                                     11.71|             100.0|          20546.77|             48.2|            27.05|            18.49|         116935.6|              77.6|               724.42|              30.53|              44.0|              78.1|                 100.0|                      13.8|            86.75|                   0.96|          7975105024|                           1349776.4|                      78.08|            378.22|                               10293.52|
+-------+--------+-------------+-----------+--------------------+------------------+------------------+------------------+------------------+-------------------+-----------------------+---------------------+------------------------------+------------------------+----------------------+-------------------------------+------------------+------------------+------------------------+------------------+-------------------------+---------------------+---------------------------------+----------------------+----------------------------------+-------------------+------------------+------------------------+----------------------+------------------+-------------------------------+-------------------+------------------+-------------+--------------------+--------------------+-----------------------+--------------------+------------------+-------------------------+------------------------------+-----------------------------+-----------------------------------+--------------------------+-------------------------------------+------------------------------+------------------------------------------+------------------+------------------+-----------------+-----------------+-----------------+-----------------+------------------+---------------------+-------------------+------------------+------------------+----------------------+--------------------------+-----------------+-----------------------+--------------------+------------------------------------+---------------------------+------------------+---------------------------------------+

In [ ]:
#Simple Group by Function
df.groupBy("location").sum("new_cases").orderBy(F.desc("sum(new_cases)")).show(truncate=False)

+-----------------------------+--------------+
|location                     |sum(new_cases)|
+-----------------------------+--------------+
|World                        |775935057     |
|High-income countries        |429044052     |
|Asia                         |301564180     |
|Europe                       |252916868     |
|Upper-middle-income countries|251756125     |
|European Union (27)          |185822587     |
|North America                |124492698     |
|United States                |103436829     |
|China                        |99373219      |
|Lower-middle-income countries|92019711      |
|South America                |68811012      |
|India                        |45041748      |
|France                       |38997490      |
|Germany                      |38437756      |
|Brazil                       |37511921      |
|South Korea                  |34571873      |
|Japan                        |33803572      |
|Italy                        |26781078      |
|United Kingdom               |24974629      |
|Russia                       |24268728      |
+-----------------------------+--------------+
only showing top 20 rows